@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}



header{
	position:fixed;
	right: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	background-color: #000000;
  padding:15px 15px;
  
}
header .container{
	-webkit-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo a{
	font-size: 4rem;
	text-decoration: none;
	color:#ffffff;
	font-weight: 700;
}
header .logo a span{
	color:#D79922;
}
header .nav{
	position: fixed;
	background-color:#D79922;
	width: 280px;
	top:0;
	right:0;
	height: 100%;
	z-index: 99;
	padding:100px 0px 15px; 
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .nav.open{
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
header .nav ul{
	list-style: none;
	margin:0;
	padding:0px;
}
header .nav ul li{
display: block;
}
header .nav ul li a{
	text-decoration: none;
	font-size: 4 rem;
	font-weight: 400;
    color:#ffffff;
    display: block;
    position: relative;
    padding:10px 30px;
}
header .nav ul li a.active::before{
	content: '';
	position: absolute;
	right:0px;
	top:0px;
	height: 100%;
	width:100%;
	background-color:#000000;
	opacity:.2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}
header .nav ul li a::before{
	content: '';
	position: absolute;
	right:0px;
	top:0px;
	height: 100%;
	width:0px;
	background-color:#000000;
	opacity:.2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}
header .nav ul li a:hover::before{
	width: 100%;
}
header .ham-burger{
	display: inline-block;
	position: relative;
	z-index: 100;
}
header .ham-burger span{
	height: 3px;
	margin-bottom:8px;
	display: block;
	background-color:#ffffff;
	width:30px;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}
header .ham-burger span:nth-child(1){
	transform-origin: left top;
}
header .ham-burger span:nth-child(2){
	transform-origin: left bottom;
}
header .ham-burger span:nth-child(3){
	transform-origin: left bottom;
}

header .ham-burger.active span:nth-child(1){
	-webkit-transform: rotate(45deg) translateY(-6px);
	transform: rotate(45deg) translateY(-6px);
}
header .ham-burger.active span:nth-child(2){
	-webkit-transform: rotate(-45deg) translateY(6px);
	transform: rotate(-45deg) translateY(6px)
}

.container{
	max-width: 1170px;
	margin: auto;
}
.home{
	height: 100vh;
	background-image: url("boxdog2.jpg");
	background-size: cover;
	padding:15px;
	-webkit-display: flex;
	display: flex;
	position: relative;
}
.home .go-down{
  position: absolute;
  bottom: 50px;
  width: 40px;
  height:50px;
  border:1px solid #ffffff;
  display: block;
  border-radius:4px;
  text-align: center;
  left:50%;
  margin-left: -13px;
}
.home .go-down .fa{
	color:#ffffff;
	-webkit-animation: goDown 1s ease infinite;
	animation: goDown 1s ease infinite;
}
@-webkit-keyframes goDown{
	0%{transform: translateY(0);opacity:.5}
	100%{transform: translateY(10px);}
}
@keyframes goDown{
	0%{transform: translateY(0);opacity:.5}
	100%{transform: translateY(10px);}
}
.home .container{
  -webkit-display: flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home h1{
	color:#ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin:0;
}

.home h1 span{
	color:#D79922;
}
.about{
	padding:80px 0px;
  background-color:#ffffff;
  font-size: 3rem;
}

.about .content{ 
 -webkit-display: flex;
 display: flex;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
  box-shadow: 1px 1px 20px rgba(63, 34, 34, 0.8);;
}

.about .content .box .inner{
	background-color:#222222;
}
.about .content .box:nth-child(2) .inner{
	background-color:red;
}
.about .content .box .inner .img img{
	width: 100%;
}
.about .content .box .inner .text{
	padding:30px;
}

.about .content .box .inner .text h4{
  font-size: 4rem;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color:#ffffff;
 text-transform: capitalize;
  text-align: center;
}
.about .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#ffffff;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#service {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  background: #1a91e0;
}

#service .heading {
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem 0;
  color: black;
  text-align: center;
  position: relative;
}

#service .heading::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  border-radius: 5rem;
  background: #333;
}

#service .box-container {
  width: 90%;
}

#service .box-container .box {
  background: #fff;
  max-width: 60rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 .3rem #333;
          box-shadow: 0 0 .3rem #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 2rem;
  margin: 2rem;
  clear: both;
}

#service .box-container .box img {
  height: 7rem;
  margin-right: 4rem;
}

#service .box-container .box .info {
  padding-left: 2.5rem;
  border-left: 0.4rem solid #b80000;
}

#service .box-container .box .info h2 {
  font-size: 3rem;
  color: #b80000;
}

#service .box-container .box .info p {
  font-size: 1.5rem;
  color: #333;
}

#service .box-container .box:nth-child(2) {
  float: right;
}

#testimonial {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  background: rgb(34, 33, 33);
}

#testimonial .heading {
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem 0;
  color: white;
  text-align: center;
  position: relative;
}

#testimonial .heading::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  border-radius: 5rem;
  background: #333;
}

#testimonial .heading::after {
  background: #b80000;
}

#testimonial .box-container {
  width: 90%;
}

#testimonial .box-container .box {
  max-width: 60rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem;
  margin-left: 5rem;
  padding-left: 6rem;
  position: relative;
  clear: both;
}

#testimonial .box-container .box img {
  position: absolute;
  top: 50%;
  left: -9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  border: 0.5rem solid #b80000;
  -webkit-box-shadow: 0 0 5rem #b80000 inset;
          box-shadow: 0 0 5rem #b80000 inset;
  -o-object-fit: cover;
     object-fit: cover;
}

#testimonial .box-container .box .info h2 {
  margin-top: -2.5rem;
  margin: 2rem;
  color: #b80000;
  text-align: right;
}

#testimonial .box-container .box .info p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #333;
}

#testimonial .box-container .box .info p i {
  padding: 1rem;
  color: #b80000;
}

#testimonial .box-container .box:nth-child(even) {
  float: right;
}



@-webkit-keyframes background {
  0%, 100% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back1.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  25% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  50% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back3.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  75% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back4.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@keyframes background {
  0%, 100% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back1.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  25% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  50% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back3.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  75% {
    background: linear-gradient(76.34deg, #FFFFFF 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/back4.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  
}

@media (max-width: 500px) {
  
  #testimonial .box-container .box {
    padding: .5rem;
    margin-top: 13rem;
    margin-left: 0;
    margin-right: 0;
  }
  #testimonial .box-container .box img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -30%;
    height: 15rem;
    width: 15rem;
  }
  #testimonial .box-container .box .info {
    text-align: center;
  }
  #testimonial .box-container .box .info p {
    padding-top: 9rem;
  }
  #testimonial .box-container .box .info h2 {
    text-align: center;
    margin: 1.5rem;
  }
  #testimonial .box-container .box:nth-child(even) {
    float: none;
  }
}

.gallery .content{
	-webkit-display: flex;
	display: flex;
	flex-wrap: wrap;
}

.gallery .content .box{
	flex:0 0 50%;
	max-width: 50%;	
}
.gallery .content .box img{
	display: block;
	width: 98%;
	-webkit-transition: all .5s ease;
  transition: all .5s ease;
  
}
.gallery .content .box img:hover{
  color:transparent;
  cursor: pointer;
  
}


.gallery h2{
	font-size: 40px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
}

.counter-up{
  background: url("counterbg.jpg")no-repeat;
  min-height: 50vh;
  display:flex;
  align-items: center;
  padding:0 50px;
  background-size: cover;
  background-attachment: fixed;
  position:relative;
}
.counter-up::before{
  position:absolute;
  content:"";
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.8);
}
.counter-up .content1{
  position:relative;
  z-index: 2;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  height:100%;
  align-items:center;
  justify-content: space-between;
}
.content1 .box1{
  width:calc(25% - 30px);
  border:1px solid rgba(255,255,255,0.6);
  border-radius: 5px;
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  color:#fff;
  flex-direction: column;
  border-radius: 5px;
}
.content1 .box1 .icon{
  font-size:48px;
  color:#e6e6e6;
}
.content1 .box1 .counter{
  font-size:50px;
  color:#f2f2f2;
  font-weight: 500;
  font-family: sans-serif;
}
.content1 .box1 .text{
  color:#ccc;
  font-weight:400;
}

.price-package{
	padding: 80px 0px;
	background-color: #ffffff;
}
.price-package h2{
	font-size: 40px;
	font-weight: 500;
	color:#000000;
	padding: 0px 0px 20px;
	text-align: center;
}

.price-package .title-p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.price-package .content{
	-webkit-display: flex;
	display: flex;
}
.price-package .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
  box-shadow: 1px 1px 20px rgba(63, 34, 34, 0.8);;
}
.price-package .content .box .inner{
	background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 20px;
	background-color:red;
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}
.price-package .content .box .inner .text{
	padding:30px 15px;
	text-align: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color:#222222;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
}
.price-package .content .box .inner .text p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 0 5px;
 font-family: 'Open-sans', sans-serif;	
}
.price-package .content .box .inner .text .btn{
    padding: 8px 30px;
    background-color: red;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover{
	border-color:#222222;
	color:#222222;
	background-color: transparent;
}
.price-package .content .box .inner .img img{
	width: 100%;
}
.container hover{
  color:#fff;
  box-shadow:0 0 15px rgba(0,0,0,1);
  transform:scale(1.1);
  z-index:1;

}
.contact{
	padding:80px 0px;
	background-color: #222222;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid #ffffff;
 font-family: 'Open-sans',sans-serif;
 color:#ffffff;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:#ffffff;
}
.contact .content .form textarea{
	height: 100px;
}

.contact .content .form button{
	border:none;
	outline: none;
	box-shadow:1px 1px 20px rgba(63, 34, 34, 0.5);
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color:#D79922 ;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:#ffffff; 
    border-color:#ffffff;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #D79922;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#D79922;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #D79922;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a span{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 15px;
}

@media(max-width:1036px){
  .counter-up{
    padding:50px 50px 0 50px;
  }
  .content1 .box1{
    width:calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media(max-width:580px){
  .content1 .box1{
    width:100%;
  }
  }




@media(max-width: 991px){
   .home{
   	background-position: center;
   }
}


@media(max-width: 767px){
  .home h1{
      font-size: 40px;
  }
  .about .content{
  	 flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}

 .gallery .content{
  flex-wrap: wrap;
 }
.gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.price-package .content{
	flex-wrap: wrap;
}
.price-package .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .content{
	flex-wrap: wrap;
}
.contact .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
}











@media(max-width: 767px){
  .home h1{
      font-size: 40px;
  }
  .about .content{
  	 flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
}


@media(max-width: 550px){
  .home h1{
      font-size: 30px;
  }
}

@media (max-width: 500px) {
  #service .box-container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1.5rem;
  }
  #service .box-container .box img {
    height: 10rem;
    margin: 1rem;
  }
  #service .box-container .box .info {
    padding-left: 0;
    padding-top: 3rem;
    border: none;
    text-align: center;
  }
  #service .box-container .box .info p {
    padding: 1rem;
  }
  #testimonial .box-container .box {
    padding: .5rem;
    margin-top: 13rem;
    margin-left: 0;
    margin-right: 0;
  }
  #testimonial .box-container .box img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -30%;
    height: 15rem;
    width: 15rem;
  }
  #testimonial .box-container .box .info {
    text-align: center;
  }
  #testimonial .box-container .box .info p {
    padding-top: 9rem;
  }
  #testimonial .box-container .box .info h2 {
    text-align: center;
    margin: 1.5rem;
  }
  #testimonial .box-container .box:nth-child(even) {
    float: none;
  }
}


